<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Editar Canción</title>
	<link rel="stylesheet" 
		  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
	<!-- Incluir la barra de navegación -->
	<div th:replace="~{layout/navbar :: navbar}"></div>

	<div class="container mt-4">
		<h1 class="mb-4">Editar Canción</h1>
		
		<form th:action="@{/api/canciones/actualizar/{id}(id=${cancion.id})}" method="post">
			<input type="hidden" th:field="*{cancion.id}">
			
			<div class="mb-3">
				<label for="titulo" class="form-label">Título</label>
				<input type="text" id="titulo" name="titulo" class="form-control" th:field="*{cancion.titulo}" required>
			</div>
			
			<div class="mb-3">
				<label for="genero" class="form-label">Género</label>
				<input type="text" id="genero" name="genero" class="form-control" th:field="*{cancion.genero}" required>
			</div>
			
			 <div class="mb-3">
          <label for="lista" class="form-label"
            >Seleccionar Lista de Reproducción</label
          >
          <select th:field="*{listas}" id="lista" class="form-control" multiple>
            <option
              th:each="lista : ${listas}"
              th:value="${lista.id}"
              th:text="${lista.nombre}"
            ></option>
          </select>
        </div>

        <input type="hidden" id="lista_id" name="lista_id" />
			
			<button type="submit" class="btn btn-primary">Actualizar canción</button>
			<a th:href="@{/api/canciones/listar}" class="btn btn-secondary">Cancelar</a>
		</form>
	</div>
</body>
</html>
<script>
	document.addEventListener("DOMContentLoaded", function () {
	  // Obtener el select y el campo oculto
	  const selectLista = document.getElementById("lista");
	  const idListaField = document.getElementById("lista_id");
  
	  // Cuando cambie la selección, asignar el valor al campo oculto
	  selectLista.addEventListener("change", function () {
		// Asignar el primer valor seleccionado (ya que se permite seleccionar solo uno)
		idListaField.value = selectLista.value;
	  });
	});
  </script>